In [61]:
import pandas as pd
incidenti = pd.read_json("data/incidenti.json")

In [62]:
incidenti.head(20)

    Anno  Feriti  Incidenti  Mese  Morti  Zona
0   2001      69         50     1      1   NaN
1   2001     209        171     1      0   1.0
2   2001     115         91     1      1   2.0
3   2001     187        141     1      1   3.0
4   2001     154        105     1      0   4.0
5   2001     173        118     1      0   5.0
6   2001     133         98     1      0   6.0
7   2001     186        140     1      3   7.0
8   2001     189        141     1      1   8.0
9   2001     275        178     1      1   9.0
10  2001      59         41     2      0   NaN
11  2001     210        161     2      1   1.0
12  2001     136         90     2      1   2.0
13  2001     200        147     2      1   3.0
14  2001     165        122     2      1   4.0
15  2001     129         95     2      0   5.0
16  2001     139        104     2      1   6.0
17  2001     150        113     2      2   7.0
18  2001     213        159     2      3   8.0
19  2001     215        156     2      1   9.0

In [72]:
incidenti_puliti = incidenti_puliti.astype({'Zona': int})
incidenti_puliti.head(3)

   Anno  Feriti  Incidenti  Mese  Morti  Zona  Zona_int
1  2001     209        171     1      0     1       1.0
2  2001     115         91     1      1     2       2.0
3  2001     187        141     1      1     3       3.0

In [73]:
incidenti['rapporto'] = incidenti['Feriti'] / incidenti['Incidenti']

In [74]:
incidenti['prova'] = 0

In [70]:
incidenti.astype({'Zona': int})
incidenti.head(3)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [68]:
incidenti_puliti.loc[:, 'Zona_int'] = incidenti_puliti.loc[:, 'Zona']
incidenti_puliti.head(3)

   Anno  Feriti  Incidenti  Mese  Morti  Zona  Zona_int
1  2001     209        171     1      0   1.0       1.0
2  2001     115         91     1      1   2.0       2.0
3  2001     187        141     1      1   3.0       3.0